@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
    .max-h-60 {
      max-height: 60px !important;
    }
  }
  body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
  }
  
  .body-padding {
    @apply pt-12 sm:pt-16;
  }
  
  @media (max-width: 640px) {
    .body-padding {
      @apply pt-16;
    }
  }